.button-cart button {
	border: none;
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;
}

.button-cart button:hover {
	background-color: #159d17;
	color: #fff;
}

footer {
	background-color: #f8f8f8;
	margin-top: 50px;
}
.footernews {
	padding: 20px 20px;
	color: #fff;
	background-color: #159d17;
}

.footernews input{
	padding: 10px 70px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
}

.footernews button {
	padding: 10px 20px;
    margin-left: -4px;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1c8158;
}

.newsletter p{
	font-size: 27px;
	display: contents;
}

.newsletter span {
	font-size: 20px;
	margin-left: 20px;
}

.footer-content {
	padding: 20px 0px !important;
}

.hotline i {
	font-size: 70px;
}

.hotline div {
	display: inline-block;
}

.hotline div .edit-p {
	font-size: 25px;
    line-height: 2em;
}

.size {
	font-size: 20px;
	padding: 10px;
}

.menufooter h4 {
	line-height: 3.5em;
	font-size: 16px;
}

.menufooter li {
	line-height: 2em;
}

.menufooter a {
	text-decoration: none;
	color: #000;
}

.footer-info h4 {
	line-height: 3.5em;
	font-size: 16px;
}

.footer-info ul {
	line-height: 3em;
	}

.footer-search h4 {
	line-height: 3.5em;
	font-size: 16px;
}

.footer-search input {
	padding: 11px 20px;
    border-radius: 25px;
    border: 1px solid #b8a9a9;
}

.hotline {
	margin-top: 10px;
}

.bank {
	background-color: #cfcfeb;
	margin-left: -15px;
}

.bank .col-md-8 {
	padding-top: 8px;
	padding-left: 50px;
}
.search input {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid #159d17;
}

.mobile-menu {
    display: flex;
    align-items: center;
    flex: 1;
}
.hamburger {
    padding: 0;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
	.mobile-menu span {
		background-color: #fff;
	}
	.mobile-logo {
    	display: flex;
    	align-items: center;
	}
	.footermobile {
	    background-color: #159d17;
	    color: #fff;
	    text-align: center;
	    margin-top: 10px;
	}
	.footermobile p {
		padding: 0;
		margin: 0;
	}

	.footermobile img {
		margin-top: 10px;
		margin-bottom: 15px
	}

	.phone {
		font-size: 25px;
	}

	.footermobile i {
		font-size: 20px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.footermobile {
		background-color: #159d17;
		text-align: center;
		margin-top: 15px;
	}

	.footermobile p {
		font-size: 25px;
		color: #fff;
	}
	
	.footermobile i {
		font-size: 20px;
		color: #fff;
		padding-left: 20px;
		padding-bottom: 10px;
	}

	.footermobile .phone {
		font-size: 35px;
	}
}





@media only screen and (min-width: 992px){
	.header-cart span {
		font-size: 25px;
	    color: #fff;
	}
	.fa-headphones {
		font-size: 50px;
	    float: left;
	    margin-right: 10px;
	    color: #159d17;
	}
	.mobile-menu span {
		background-color: #159d17;
	}
	.btn-transparent {
		background-color: transparent;
	    border: none;
	    color: #fff;
	    font-size: 16px;
	    padding:0;
	}
	.btn-transparent:focus, .btn-transparent:hover {
		color: #fff;
	}
	.search {
		padding:3px 0;
	}
	.search input {
		width: 90%;
    	padding: 11px 20px;
    	border:none !important;
    	border-bottom-left-radius: 20px;
    	border-top-left-radius: 20px
	}
	.search button {
		padding: 12px 25px;
	    margin-left: -6px;
	    border: none;
	    background: #136846;
	    color: #fff;
	    border-bottom-right-radius: 20px;
	    border-top-right-radius: 20px;
	}
	.electro-navbar {
		background-color: #159d17;
		padding: 5px 0px;
	}

}