*{
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('normalize.css');

.container,.container-pluid .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0;
}

.row {
	margin:0;
}

.pd0 {
	padding: 0;
}

.flex-center {
	display: flex;
	align-items: center;
}
body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

ul li {
	list-style: none;
}

 

.btn-transparent {
	background-color: transparent;
}



.dropdown button:hover {
	color: #fff;
}

.dropdown button:focus {
	color: #fff;
}

.dropdown-menu {
	margin-top: 12px;
}

.dropdown-menu li {
	border-bottom: 1px solid #00000033;
}

.form-group {
	margin: 0;
	padding: 0;
}

.btn-primary {
	float: left;
	margin-left: -3px;
	width: 10%;
    border-radius: 0px;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 36px;
    background-color: #136846 !important;
    background-image: none;
    font-size: 18px;
    padding: 0;
}

.btn {
	padding-left: 0;
}

.form-control {
	width: 90%;
	float: left;
	height: 36px;
	border: none;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.price {
	font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

#content {
	margin-top: 15px;
}

.delimiter {
	margin: 0 1.429em;
}

.content-inner {
	margin-top: 15px;
}

.detail-info-product {
	padding-left: 20px;
}

.loop-product-categories a {
	color: #000000a6;
}

.info-text p {
	padding-top: 10px;
	color: #000000a6;
}

.info-text {
	border-top: 1px solid #000000a6;
}

.detail-price {
	display: flex;
    align-items: center;
}

.detail-price h4 {
	font-size: 29px;
	padding-right: 10px;
}

.detail-price span {
	text-decoration: line-through;
}

.chose input {
	padding: 20;
    width: 40%;
    border-radius: 20px;
    border: 1px solid #bab3b3;
}

.chose button {
	width: 30%;
    padding: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    background-color: #14a76c;
    color: #fff;
    font-weight: bold;
}

.xzoom-thumbs {
	    display: flex;
    overflow-x: scroll;
    margin-top: 15px;
}

.divide::before {
	content: '/';
    color: #c5c5c5;
    margin: 0 1.571em;
}

.extend {
	margin-top: 70px;
}

#cart {
	padding-left: 20px;
}

#cart h3 {
	margin: 0;
    padding-bottom: 19px;
    border-bottom: 1px solid #0000003d;
}

.cart-contect {
	padding-top: 20px;
}

.remove-product a{
	color: red;
}

.quantity {
	line-height: 3em;
}

.total {
	margin-top: 15px;
}

.cart-button button {
	margin-top: 10px;
	padding: 15;
    border: none;
    border-radius: 20px;
}

.ads {
	margin-top: 20px;
}

.new-product {
	margin-top: 20px;
}

.list-new-product {
	margin-top: 30px;
}

.list-new-product img {
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
}

.product-tille {
	display: block;
    color: #333e48;
    font-weight: 400;
    margin-bottom: 45px;
}

.price-new-product {
	font-weight: bold;
}



.afternone::after {
		content: none;
}



@media only screen and (min-width: 320px) and (max-width: 479px){

	.menu-mobile {
		background-color: #14a76c;
	}

	.edit-menu {
		display: flex;
		align-items: center;
		padding: 10px;
	}

	.mobile-menu {
		margin-left: 10px;
	}

	.menu-mobile .icon {
		text-align: right;
	    font-size: 20px;
	    padding: 0;
	    color: #fff;
	}

	.menu-mobile .icon i {
		padding-right: 10px;
	}

	.menu-mobile button span {
		background-color: #fff;
		padding:0;
	}

	.menu-mobile button {
		margin: 0;
	}

	.scroll {
		margin-top: 0;
	    background-color: #f8f8f8;
	    padding: 15px 15px 15px 15px;
	    white-space: nowrap;
	    overflow: scroll;
	}

	.xzoom {
		width: 90%;
		margin-left: 20px;
	}

	.xzoom-thumbs {
		margin-left: 5px;
	}


	.chose button {
		padding: 20px 0;
	}

	.info-product {
		margin-bottom: 20px;
	}

	.tab-content {

	}

	.nav-tabs li {
		margin-left: 10px;
	}
	
	#tabs {
		padding:0 10px;
	}

	.footermobile{
		background-color: #14a76c;
		color: #fff;
		text-align: center;
		margin-top: 10px;
	}
	
	.footermobile p {
		padding: 0;
		margin: 0;
	}

	.footermobile img {
		margin-top: 10px;
		margin-bottom: 15px
	}

	.footermobile i {
		font-size: 20px;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.ratecomment {
		text-align: left;
	}

	.ratecomment h3 {
		font-size: 18px;
	}

	.list-ratecomment li {
		padding: 15px;
	}

	.price-ratecmt h3 {
		font-size: 25px;
		font-weight: bold;
	}

	.list-ratecomment li::after {
		content: '';
	    border-right: 1px solid #eaeaea;
	    display: block;
	    position: absolute;
	    top: 50%;
	    right: 0;
	    height: 70%;
	    transform: translateY(-50%);
	}

	.list-ratecomment {
		border-bottom: 1px solid #bcafaf;
	}

	.removeafter {
		content: none;
		border-right: 0px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	
	.menu-mobile {
		background-color: #14a76c;
	}

	.edit-menu {
		display: flex;
		align-items: center;
		padding: 10px;
	}

	#tabs {
		padding: 5px;
	}

	.menu-mobile .icon {
		text-align: right;
	    font-size: 20px;
	    padding: 0;
	    color: #fff;
	}

	.menu-mobile .icon i {
		padding-right: 10px;
		font-size: 35px;
	}

	.menu-mobile button span {
		background-color: #fff;
		padding:0;
	}

	.menu-mobile button {
		margin: 0;
	}

	.scroll {
		margin-top: 0;
	    padding: 15px 15px 15px 15px;
	    white-space: nowrap;
	}

	.xzoom-thumbs {
		display: block;
		overflow-x: auto;
	}

	.chose button {
		padding: 20px 0;
	}

	.mobile-menu {
		margin-left: 15px;
	}

	.footermobile {
		background-color: #14a76c;
		text-align: center;
		margin-top: 15px;
	}

	.footermobile p {
		font-size: 25px;
		color: #fff;
	}
	
	.footermobile i {
		font-size: 20px;
		color: #fff;
		padding-left: 20px;
		padding-bottom: 10px;
	}

	.footermobile .phone {
		font-size: 35px;
	}

	.list-ratecomment li {
		padding: 20px;
	}

	.list-ratecomment li::after {
		content: '';
	    border-right: 1px solid #eaeaea;
	    display: block;
	    position: absolute;
	    top: 50%;
	    right: 0;
	    height: 70%;
	    transform: translateY(-50%);
	}

	
	

}

@media only screen and (min-width: 992px){
	.edit-menu {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	.logo {
		padding: 0
	}

	.menu-hidden {
		padding: 0;
	}

	.support {
		display: flex;
		align-items: center;
	}

	.support .icon {
		padding: 0;
	    font-size: 70px;
	    text-align: center;
	    color: #14a76c;
	}

	.support .phonenumber {
		padding: 0;
	}
	
	.mobile-menu {
		text-align: center;
	}

	.ratecomment {
		text-align: left;
		margin-bottom: 50px;
	}

	.list-ratecomment {
		margin-left: 20px;
	}

	.list-ratecomment li {
		padding: 15px;

	}

	.list-ratecomment h3 {
		font-size: 1em;
    	font-weight: bold;
    	line-height: 30px;
	}

	.list-ratecomment small {
		font-size: 0.8em;
		color: #00000083;
	}

	.list-ratecomment .price-ratecmt {
		display: flex;
		align-items: center;
	}

	.list-ratecomment .price-ratecmt h3 {
		font-size: 21px;
	}

	.list-ratecomment .price-ratecmt button {
		margin-left: 25px;
		border: none;
		color: #fff;
		background-color: #f0ad4e;
		border-radius: 20px;
		padding: 7px;
		font-size: 25px;
	}

	.list-ratecomment a li::after {
		content: '';
	    border-right: 1px solid #eaeaea;
	    display: block;
	    position: absolute;
	    top: 50%;
	    right: 0;
	    height: 70%;
	    transform: translateY(-50%);
	}

	.list-ratecomment a li:hover {
		box-shadow: 0px 0px 5px 3px grey;
	}


	.scroll {
		margin: 10px 0;
	}
}