.pay-form {
	padding-right: 20px;
}

.pay-name {
	margin-bottom: 20px;
}

.pay-name input {
	width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #a8a6a6a6;
}

.pay-name p {
	font-size: 16px;
	font-weight: 400;
}

.pay-more-info {
	margin-bottom: 50px;
}

.pay-more-info textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
}

.pay-more-info p {
	font-weight: 400;
	font-size: 16px;
}

.pay-your-order {
	padding: 0 20px 20px 20px;
    background: #a8a8a821;
    border-radius: 10px;
}

.pay-info-product {
	line-height: 50px;
	padding-bottom: 30px;
}

.pay-info-product p {
	border-bottom: 1px solid #a8a6a6;
}

.pay-info-product p:nth-child(4) {
	padding-bottom: 40px;
	border-bottom: 2px solid #a8a6a6;
}

.pay-select-description {
	padding: 5px;
    border: 1px solid #a6a6a6;
    background: #a6a6a626;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pay-button {
	width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    background: #159d17;
    color: #fff;
    border: none;
    border-radius: 30px;
}