/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('normalize.css');

body {
	font-family: 'Roboto', sans-serif;
}

#topmenu {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

#header button[type="submit"] {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}

#topmenu a {
	color: #404d4d;
	text-decoration: none;
}

.borderleft {
	border-left: 1px solid;
}

.borderright {
	border-right: 1px solid #c7c7c74a;
}

.paddingleft10 {
	padding-left: 10px;
}

.paddingright10 {
	padding-right: 10px;
}


.logo img {
	width: 100%;
}

.hamburger {
	padding: 0;
}


.btn-lg {
	padding: 7px 22px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #159d17;
	color: #fff;
	border: 1px solid #159d17;
}

.search input {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 2px solid #159d17;
}

.iconshopping i {
	font-size: 2em;
	color: #159d17;
}

.iconshopping span {
	color: #159d17;
	font-size: 1.5em;
	font-weight: bold;
}


.media1 {
	background-color: #f5f5f5;
	padding: 0;

}

.media1 .col-md-6 {
	padding: 0;
}

.media1 img {
	padding: 10px;
	width: 100%

}

.media1 .fix1 {
	color: #000;
	font-size: 2em;
	align-self: auto;
	padding-top: 10px;
}

.media1 p strong {
	color: #159d17;
}

.fix2 {
	padding: 0;
	padding-bottom: 10px;
    margin: 0;
    color: #159d17;
    font-size: 1.3em;
}


.borderright {
	border-right: 1px solid #159d17;
}

#banner {
	margin-top: 50px;
}

#slide {
	position: relative;
}

#menu2 {
	position: absolute;
    background: #fff;
    z-index: 1;
    left: 12%;
    top: -43px;
    width: 20%;
}

#banner .bx-wrapper {
	border: none;
}

#banner .bx-wrapper .bx-pager{
	bottom: 20px;
}

.textDetail {
	width: 50%;
  color: #fff;
  top: 100px;
  right: 140px;
  position: absolute;
  font-size: 50px;

}

.textDetail img {
	animation-duration: 1s;
  	animation-delay: 0.1s;
    animation-iteration-count: 1;
}
.textDetail h5 {
	font-size: 0.34em;
	color: red;
	animation-duration: 1s;
  	animation-delay: 0.5s;
    animation-iteration-count: 1;
}

.textDetail p {
	font-size: 0.73em;
	color: #000;
	animation-duration: 1s;
  	animation-delay: 1s;
    animation-iteration-count: 1;
}

.textDetail strong {
	color: #159d17;
}

.textDetail button {
	border:none;
	background-color: #159d17;
    font-size: 0.45em;
    padding: 10px 40px;
    border-radius: 20px;
    animation-duration: 3s;
  	animation-delay: 1.2s;
    animation-iteration-count: 1;
}

.colored {
	color: red !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.border-bottom {
	border-bottom: 1px solid #159d17;
}


.menu-mini {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d2cccc;
}


.eidt-img {

}


#header {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.flex-center {
	display: flex;
	align-items: center;
}

#mobile-search .flex-center {
	height: 40px;
	padding-left: 0;
	padding-right: 0;
}

#mobile-search {
	display: flex;
	background-color: #159d17;
	padding:10px 20px;
}

.cart {
	display: flex;
    align-items: center;
	justify-content: flex-end;
	flex: 5;

}

.info-product button {
	border-radius: 25px;
    border: none;
    background: #159d17;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

.mobile-logo {
	display: flex;
    align-items: center;
	flex: 1;
}

.mobile-menu {
	display: flex;
    align-items: center;
	 
	flex: 1;
}

.mobile-menu span {
	background-color: #fff;

}

.product {
	margin-top: 20px;
	margin-bottom: 20px;
}

.info-product h3 {
	padding-top: 10px;
	color: red;
}
.info-product h4 {
	color: #159d17;
}

.info-product span {
	text-decoration: line-through;
}

.effect {
	margin-bottom: 20px;
	padding: 10px;
	height: 175px;
	border-right: 1px solid #000;
}

.effect:nth-child(3n) {
	border-right: none;
}



#mobile-search .hamburger{
	margin-top: 0px;
}

.item a {
	text-decoration: none;
	color: black;
}

.price {
		margin-top: 10px;
	    display: flex;
	    align-items: center;
}

.price button {
	margin-left: 55px;
	padding: 5px;
	font-size: 20px;
	border: none;
	background-color: #159d17;
	color: #fff;
	border-radius: 25px;
}

.items small {
	color: #00000063;
}

.items h3 {
	font-size: 20px;
	color: #159d17;
}

.items {
	height: 370px;
	padding:20px;	
	margin-top: 15px;
	margin-bottom: 15px;
}

.items img {
	margin: 0 auto;
}

.items::after {
	margin-bottom: 100px;
	margin-top: 100px;
}

.items::after {
	content: none;
	display: block;
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
}

.items::after {
	border-right: 1px solid #0000001f;
}

.items:hover {
	border: none;
	padding-top: 20px;
	box-shadow: 0px 0px 5px 3px grey;
}

#spice {
	padding: 20px 0;
	padding-bottom: 0;
}



.owl-carousel {
	width: 80%; 
	margin: 0 auto;
}



.removeafter {
	content: none;
}

.price h4 {
	color: #ff0000d1;
}

#menu2 .active {
	background-color: #159d17;
	background-image: none;
}

.hot-product .container {
	display: flex;
	align-items: center;
}

.hot-product .show-nav h3 {
	margin-top: 10px;
}

/************************/
@media only screen and (min-width: 320px) and (max-width: 479px){ 
	#banner {
		margin-top: 0;
	}

	#wrapper ul li a {
		color: #fff;
		padding-left: 10px;
		line-height: 35px;
	}
	
	#wrapper ul {

	}

	.col-xs-4 {
		padding: 0;
	}

	.textDetail {
		width: 70%;
		top: 20px;
		right: 50px;
	}

	#h5-text {
		font-size: 7px;
	}

	#p-text {
		font-size: 10px;
	}

	#btn-view {
		font-size: 5px;
	    padding: 5px 8px;
	    border: none;
	}

	#banner .bx-wrapper .bx-pager {
		bottom: 2px;
	}

	.bx-wrapper {
		margin-bottom: 10px;
	}

	.hot-product {
		display: block;
	}

	.show-nav {
		color: #ff0000cf;
	}
	

	.hot-product .nav-inline {
		overflow-x: auto;
		padding-bottom: 15px;
	}

	.nav-inline ul li {
		margin-right: 20px;
		flex-shrink: 0;
		font-size: 17px;
    	padding: 3px 15px;
	}

	.active {
		border:2px solid #159d17;
		border-radius: 10px;
	}

	.nav-inline ul {
		display: flex;
	}

	.nav li a {
		color: black;

		padding: 0 2px
	}

	.borderright {
		border: none;
	}

	.mobile-img {
		padding: 0;
	}

	.mobile-font {
		padding: 3px 5px 5px 5px;
	    font-size: 0.6em;
	}

	.effect {
		border-right: none;
		border-bottom: 1px solid #00000038;
	}

	.info-product h3 {
		font-size: 20px;
	}
	
	.info-product button {
		display: none;
	}

	.show-nav {
		border-bottom: 1px solid black;
		margin-bottom: 10px;
	}
	
	.show-nav h3 {
		font-size: 23px;
	}
	.media1 {
		padding: 0;
		flex: 0 0 50%;
	}

	.media1 img {
		padding: 4px;
		margin-top: 15px;
	}

	.mobile-scroll {
		display: flex;
		overflow: auto;
	}

	.fix1 {
		margin: 0;
	}

	.cart button {
		border: none;
		background-color: transparent;
		font-size: 20px;
		color: #fff;
		padding: 5px;
	}

	.effect::after {
		content: none;
	}
	 .items {
	 	height: auto;
	 	padding: 0 5px;
	 }

	 .items button {
	 	display: none;
	 }
	
	.items img {
		width: 80%;
		margin: auto;
	}

	.items::after {
		content: none;
	}

	.items:hover {
		content: none;
		box-shadow: none;
		padding: 0;
	}
	.banner-2 {
		width: 100%
	}
	#spice h1 {
		margin-left: 10px;
		border-bottom: 3px solid #333e48;
		line-height: 2em;
		font-size: 23px;
		width: 75%;
	}

 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 

	#banner {
		margin-top: 0;
	}
	
	.spice h1 {
		border-bottom: 3px solid #00055f;
		line-height: 2em;
		font-size: 25px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px){ 
	#menu2 {
		line-height: 1em;
		top: -11%;
		width: 27%;
	}

	.effect:nth-child(2n) {
		border-right: none;
	}

	.cart button {
		border: none;
	    padding: 10px;
	    background: none;
	    color: #fff;
	    font-size: 2em;
	}

	.mobile-logo img {
		height: 55px;
	}

	.textDetail {
		top: 45px;
		right: 55px;
		width: 80%;
	}

	.textDetail h5 {
		font-size: 16px;
	}
	
	.textDetail p {
		font-size: 36px;
	}

	.textDetail button {
		font-size: 10px;
	}

	

	.media1 .fix1 {
		font-size: 1.2em;
	}

	.mobile-scroll {
		display: flex;
		width: 100%;
	}

	.nav-inline ul {
		display: flex;
		margin-left: 38%;
		margin-top: 10px;
	}
	
	.info-product button {
		margin-left: 45px;
	}
	.nav-inline .active {
		border: 1px solid;
		border-radius: 10px;
	}

	.nav-inline ul li a {
		color: #000;
		padding: 4px 15px;
	}

	.show-nav {
		border-bottom: 1px solid;
	}

	
	
	#banner .bx-wrapper {
		margin-top: -50px;
	}
}

@media only screen and (min-width: 992px){ 
	button.hamburger span {
		background-color: #159d17;
	}

	.show-nav h3 {
		color: red;
	}

	.show-nav h3::after {
		content: ' ';
	    border-bottom: 2px solid transparent;
	    display: block;
	    position: absolute;
	    bottom: -1px;
	    width: 100%;
	}

	.nav-inline {
	}

	.nav-inline ul {
		text-decoration: none;
		display: flex;
		float: right;
	}

	.nav-inline ul li {
		
		padding: 2px 20px;
	}

	.nav-inline ul .active {
	    border: 2px solid #159d17;
	    border-radius: 20px;
	}

	.nav-inline ul li a {
		color: #777575;
		padding: 0;
	}


	.hot-product {
		align-items: center;
		display: flex;
		padding-top: 10px; 
		margin-top: 50px;
		background-color: #f5f5f5;
		border-bottom: 1px solid;
	}

	.product .effect:hover {
		border-right: 1px solid #fff;
		box-shadow: 0px 0px 5px 3px grey;
	}

	.effect button:hover {
		background-color: #f0ad4e;
	}

	.price button:hover {
		 background-color: #f0ad4e
	}

	.product .effect:hover::after {
		content: none;
	}

}