.cart-table {
	display: flex;
    margin-top: 40px;
    color: #585555;
    padding: 10px 50px;
    border-bottom: 1px solid #f0f0f0;
}

.cart-table li {
	width: 20%;
}

.cart-table li:nth-child(5) {
	padding-left: 30px;
}

.product-cart {
	display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px;
    padding-top: 25px;
}

.product-cart li {
	width: 20%;
}

.product-cart li:nth-child(2) {
	margin-left: -65px;
	margin-right: 65px;
}

.product-cart li input {
	width: 20%;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #159d17;
}

.cart-code {
	width: 70%;
    padding: 15px;
    border: 1px solid #a8a6a6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cart-submit {
	padding: 15px;
    border: 1px solid #159d17;
    margin-left: -5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #159d17;
    color: #fff;
    font-weight: bold;
    width: 20%;
}

.cart-update {
	padding: 15px;
    border: 1px solid #e8e6e6;
    width: 40%;
    border-radius: 20px;
    transition: 0.5s;
}

.cart-pay {
	padding: 15px;
    border: 1px solid #e8e6e6;
    width: 40%;
    border-radius: 20px;
    background-color: #159d17;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

#code-pay {
	margin-top: 100px;
	margin-bottom: 100px;
}

.cart-provisional {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
}

.cart-total {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#cart-total-money {
	margin-bottom: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 479px){
	.cart-path {
		padding:10px;
		background-color: #f0f0f0;
	}

	.cart-input-edit {
		width: 40%;
	    padding: 5px;
	    border: 1px solid #9c9999;
	    border-radius: 10px;
	}

	.cart-content-mobile {
		line-height: 45px;
		padding: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 16px;
	}

	.cart-code-mobile {
		width: 100%;
	    padding: 15px;
	    border-radius: 25px;
	    border: 1px solid #a8a6a6;
	}

	.cart-submit-mobile {
		width: 100%;
	    padding: 12px;
	    margin-top: 10px;
	    border-radius: 25px;
	    border: 1px solid #0e680f;
	    background-color: #159d17;
	    color: #fff;
	    font-weight: bold;
	    font-size: 20px;
	}

	.cart-update-mobile {
		width: 100%;
	    padding: 15px;
	    margin-top: 10px;
	    border-radius: 25px;
	    border: 1px solid #fff;
	    background-color: #a8a6a6;
	    color: #fff;
	    font-size: 16px;
	}

	#cart-total-money {
		margin-top: 50px;
	}

	.code-mobile {
		margin-top: 30px;
	    border-top: 1px solid #a8a6a6;
	    padding-top: 70px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.cart-path {
		padding:10px;
		
	}

	.cart-input-edit {
		width: 30%;
	    padding: 5px;
	    border: 1px solid #9c9999;
	    border-radius: 10px;
	}

	.cart-content-mobile {
		line-height: 45px;
		padding: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 16px;
	}

	.cart-code-mobile {
		width: 100%;
	    padding: 15px;
	    border-radius: 25px;
	    border: 1px solid #a8a6a6;
	}

	.cart-submit-mobile {
		width: 100%;
	    padding: 12px;
	    margin-top: 10px;
	    border-radius: 25px;
	    border: 1px solid #0e680f;
	    background-color: #159d17;
	    color: #fff;
	    font-weight: bold;
	    font-size: 20px;
	}

	.cart-update-mobile {
		width: 100%;
	    padding: 15px;
	    margin-top: 10px;
	    border-radius: 25px;
	    border: 1px solid #fff;
	    background-color: #a8a6a6;
	    color: #fff;
	    font-size: 16px;
	}

	#cart-total-money {
		margin-top: 50px;
	}

	.code-mobile {
		margin-top: 30px;
	    border-top: 1px solid #a8a6a6;
	    padding-top: 70px;
	}
}

@media only screen and (min-width: 992px) {
	.cart-update:hover {
		background-color: #052806;
		color: #fff;
		font-weight: bold;
	}

	.cart-pay:hover {
		background-color: #052806;
	}
}