a {
	color: #000;
}

a:hover , a:visit {
	color: #000;
}

.delimiter {
	margin: 0 1.429em;
}

.path a {
	color: #000;
}

.path {
	margin-top: 10px;
	margin-bottom: 20px;
}

.pd0 {
	padding: 0;
}

.pd-r-10 {
	padding-right: 10px;
}

.dropdown-menu li {
	border-top: 1px solid #00000082;
}

.dropdown-menu li:nth-child(1) {
	border-top: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-image: none;
	background-color: #159d17;
	color: #fff;

}

.into-money {
	display: flex;
	line-height: 40px;
}

.remove-product {
	color: red;
}

.total-money {
	margin:15px 0;
}


/*-----------------------*/
.price-range-block {
    margin:0;
}
.sliderText{
    width:100%;
    margin-bottom:30px;
    border-bottom: 1px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}
.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    width:95%;
    margin: auto;
    margin-bottom: 15px;
}
.ui-widget-header {
    background: #f0f0f0;
}
.price-range-search {
    width:41%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}
.price-range-field{
    width:35%; 
    min-width: 16%;
    background-color:#fff; 
    border: none;
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    height:23px; 
    padding:5px;
}
.search-results-block{
  position: relative;
  display: block;
  clear: both;
}
/*---------------------*/
.ads {
	margin-bottom: 20px;
}

.goods {
	margin-bottom: 10px;
	padding: 10px;
}

.goods p {
	color: red;
}

.content-categoty {
	padding-left: 10px;
}

.edit-list-category {
	margin-top: 10px;
	padding: 15px;
}

.edit-list-category small {
	color: #7f7b7b;
}

.edit-list-category p {
	font-size: 17px;
	color: #159d17
}

.price-category h3 {
	color: red;
	font-size: 20px;
}

.price-category button {
	border: none;
    padding: 10px 12px;
    border-radius: 25px;
    font-size: 20px;
    background: #159d17;
    color: #fff;
    margin-left: 40px;
}


@media only screen and (min-width: 320px) and (max-width: 479px){

	.path {
		margin-left: 10px;
	}

	.show-filter button {
		background-color: transparent;
	    border: none;
	    padding: 10px;
	    border-radius: 10px;
	    margin-right: 20px;
	}

	.sort {
		background-color: transparent;
		margin-left: 125px;
	}

	.dropdown-menu {
		border:none;
		left: 40px;
	}

	.shop-view-switcher {
		background-color: #f0f0f0;
	}

	.content-categoty {
		padding-right: 10px;
	}

	.price-category h3 {
		font-size: 17px;
	}

	.price-category button {
		margin-left: 30px;
	}

	.edit-list-category {
		border-right: 1px solid #f0f0f0;
	}

	.edit-list-category:nth-child(2n) {
		border-color: #fff;
	}

}



@media only screen and (min-width: 768px) and (max-width: 991px){
	.shop-view-switcher {
		background-color: #f0f0f0;
		padding: 5px;
		border-radius: 10px;
	}

	.show-filter button {
		border: none;
    	padding: 10px;
    	border-radius: 10px;
    	width: 90px;
	}

	.dropdown {
		margin-left: 490px;
	}

	.sort {
		padding: 6px 25px;
	}

	.edit-list-category {
		border-right: 1px solid #f0f0f0;
	}

	.edit-list-category:nth-child(3n) {
		border-color: #fff;
	}

}

@media only screen and (min-width: 992px){

	.shop-view-switcher {
		background-color: #f0f0f0;
		padding: 10px;
		border-radius: 15px;
	}

	.sort {
		width: 160px;
	    background: #fff;
	    color: #979494;
	    margin-right: 20px;
	    border: 1px solid #c9c6c6;
	}

	.show {
		width: 160px;
	    background: #fff;
	    color: #979494;
	    border: 1px solid #c9c6c6;
	}

	.page {
		width: 40px;
	    padding: 5px;
	    border: 1px solid #c9c6c6;
	    border-radius: 20px;
	}

	.edit-list-category {
		border-right: 1px solid #f0f0f0;
	}

	.edit-list-category:nth-child(4n) {
		border-color: #fff;
	}

	.edit-list-category:hover {
		box-shadow: 0px 0px 5px 3px grey;
	}

	.price-category button:hover {
		background-color: #f0ad4e;
	}
}