<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hải sản go - cung cấp hải sản</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap-left-slide-menu.css">
        <link rel="stylesheet" href="css/jquery.bxslider.min.css"  />
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/owlcarousel2-2.3.4/dist/assets/owl.carousel.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/owlcarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/xzoom.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css"  media="all" />
        <link rel="stylesheet" type="text/css" href="css/price_range_style.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/stylecategory.css">
    </head>
<header>
   <div id="wrapper" >
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"> HaiSan Go </a>
                </li>
                <li>
                    <a href="#"> Hải sản tươi sống</a>
                </li>
                <li>
                    <a href="#"> Hải sản nhập khẩu</a>
                </li>
                <li>
                    <a href="#"> Sushi và Shasimi</a>
                </li>
                <li>
                    <a href="#"> Gia vị - Sốt hải sản</a>
                </li>
                <li>
                    <a href="#"> Cá tươi sống và đông lạnh</a>
                </li>
                <li>
                    <a href="#"> Mực - Bạch tuốc</a>
                </li>
                <li>
                    <a href="#"> Tôm</a>
                </li>
                <li>
                    <a href="#"> Cua - Ghẹ</a>
                </li>
                <li>
                    <a href="#"> Ốc - Ngao - Sò</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="container-fluid hidden-lg hidden-md" id="mobile-search">
        <div class="mobile-logo">
            <img alt="" height="30" src="image/Logo-Hai-San-Go-ngang-white.png">
        </div>
        <div class="cart">
            <button ><i class="fa fa-search"></i></button>
            <button ><i class="fa fa-shopping-cart"></i></button>
        </div>
        <div class="mobile-menu">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>
        </div>
    </div>
    <div class="container hidden-xs hidden-sm">
        <div class="row flex-center">
            <div class="col-md-3 pd0">
                <a href="#">
                    <img alt="" src="image/Logo-Hai-San-Go-ngang.png" width="100%" />
                </a>
            </div>
            <div class="col-md-1">
                <div class="mobile-menu">
                    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-8">
                <span>
                    <i class="fa fa-headphones"></i>
                    <p><strong>Hỗ trợ:</strong>(+84) 034 333 9041</p>
                    <p>
                        Email: Admin@haisango.vn
                    </p>
                </span>
            </div>
        </div>
    </div>

    <div class="electro-navbar hidden-xs hidden-sm">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-2 pd0">
                    <div class="dropdown">
                      <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">Mua hải sản nào
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Hải sản tưới sống</a></li>
                        <li><a href="#">Hải sản nhập khẩu</a></li>
                        <li><a href="#">Gia vị - Sốt hải sản</a></li>
                        <li><a href="#">Mực - Bạch tuộc</a></li>
                        <li><a href="#">Tôm</a></li>
                        <li><a href="#">Cua - Ghẹ</a></li>
                        <li><a href="#">Ốc - Ngao - Sò</a></li>
                        <li><a href="#">Cá tươi sống - Đông lạnh</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-md-8 search">
                    <form style="display: flex; align-items: baseline;">
                        <input type="text" name="search" placeholder="Tìm kiến hải sản....">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-md-2 flex-center header-cart">
                    <span>
                        <i class="fa fa-shopping-bag"></i>
                        <span>350.000 <ins>đ</ins></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="css/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script src="js/bootstrap-left-slide-menu.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/xzoom.min.js"></script>